body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: rgb(20, 20, 20);

    color: #fff;
    user-select: none;
    /* overflow:hidden; */
}

.main {
    display: flex;
    gap: 20vw;
    justify-content: space-evenly;
    /* align-content: space-evenly; */
    border: 100px;
    border-width: 10px;
    border-color: aqua;
}

.left,
.right {
    /* border: 3px solid black; */
}

.left {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    margin: 0;
    padding: 0;
}

.left h3 {
    text-align: center;
    font-size: 2.75vw;
}

.diamond-img img {
    width: 27vw;
    border-radius: 8.2vw;
    /* border: 10px solid #fff; */
}

.diamond-img img:hover {
    cursor: pointer;
    opacity: 0.95;
}

.diamond-img img:active {
    transform: scale(1.05);
}

.right,
.upgrade-list {
    display: flex;
    flex-direction: column;
    gap: 0.7vw;
    margin: 0;
    padding: 0;
}

.right .upgrade {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3vw;
    border: 2px solid #fff;
    padding: 4px 12px 2px 10px;
    border-radius: 5px;
    background-color: rgb(30, 30, 30);
}

.right .upgrade:active {
    transform: scale(1.02);
}

.upgrade .upgrade-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    width: max-content;
}

.upgrade-center h4 {
    padding: 0px;
    margin: 0px;
}

.upgrade-center .description {
    font-size: 1vw;
    text-align: center;
    line-height: 1.5vw;
}

.upgrade-cost {
    display: flex;
    gap: 1vw;
}
