#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#count {
    font-size: 200px;
}

#btn {
    display: flex;
    gap: 1rem;
}

#dec,
#reset,
#inc {
    width: fit-content;
    padding: 1rem;
    font-size: 50px;
    border-radius: 0.5rem;
}
