.cell {
    width: 9vw;
    height: 9vw;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 8vw;
    font-size: 10vw;
    cursor: pointer;
}

#gameContainer {
    font-family: "Permanent Marker", cursive;
    text-align: center;
}
#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 27vw;
    margin: auto;
}
